@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.hero_title,
.dec_title,
.creat_title {
  text-align: left;
  text-transform: uppercase;
  font-family: var(--fs);
  font-size: 2.7rem;
  font-weight: 300;
  line-height: 1;
}

.dec_title,
.creat_title {
  text-align: center;
  font-weight: 400;
  color: #444;
  margin-bottom: 1em;
}

p {
  color: var(--Dark-Gray);
}

.dec_text {
  line-height: 1.9;
  font-weight: 500;
  margin: 0 2.5em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --fb: 'Alata', 'poppins', sans-serif;
  --fs: 'Josefin Sans', 'poppins', sans-serif;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--fb);
  width: 100%;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.img_des {
  display: none;
}

.container {
  padding: 3em 1.5em;
}

.main_hero {
  min-height: 75vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../images/mobile/image-hero.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mobile/image-hero.jpg") no-repeat center;
  background-size: cover;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
}

header .logo {
  z-index: 999;
  cursor: pointer;
}

header .navbar {
  position: fixed;
  width: 100%;
  padding: 3em 1.5em;
  background: var(--Black);
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(0px at 90% 65px);
          clip-path: circle(0px at 90% 65px);
  -webkit-transition: -webkit-clip-path ease-in-out 0.6s;
  transition: -webkit-clip-path ease-in-out 0.6s;
  transition: clip-path ease-in-out 0.6s;
  transition: clip-path ease-in-out 0.6s, -webkit-clip-path ease-in-out 0.6s;
}

header .navbar .nav_link {
  font-family: var(--fs);
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0.6em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--White);
  cursor: pointer;
}

.toggle:checked ~ .navbar {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.hero {
  margin-top: 12em;
  padding: 1.5em;
  color: var(--White);
  border: 2px solid var(--White);
}

.dec {
  margin-top: 5em;
}

.dec_body {
  margin: 3em 0;
}

/* component */
.hamburger__toggle {
  width: 35px;
  height: 40px;
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.5s;
  transition: opacity 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s, -webkit-transform 0.5s;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: '';
}

.hamburger::before {
  top: -6px;
}

.hamburger::after {
  bottom: -6px;
}

.toggle:checked + .hamburger__toggle .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle:checked + .hamburger__toggle .hamburger::before {
  -webkit-transform: rotate(90deg) translateX(6px);
          transform: rotate(90deg) translateX(6px);
}

.toggle:checked + .hamburger__toggle .hamburger::after {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.toggle {
  visibility: hidden;
  opacity: 0;
  z-index: -9999;
}

@media (min-width: 600px) {
  .main_hero {
    min-height: 75vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/desktop/image-hero.jpg") no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg") no-repeat;
    background-size: cover;
  }
  .container {
    max-width: calc(100% - 10em);
    margin: auto;
  }
  .hamburger {
    display: none;
  }
  header .navbar {
    position: static;
    width: inherit;
    height: inherit;
    background: inherit;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-clip-path: none;
            clip-path: none;
  }
  header .navbar .nav_link {
    margin-bottom: 0;
    margin-left: 1.2em;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
  }
  header .navbar .nav_link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    background: var(--White);
    left: 0;
    right: 0;
    bottom: -8px;
    border-radius: 5px;
    -webkit-transition: width ease-in-out 500ms;
    transition: width ease-in-out 500ms;
  }
  header .navbar .nav_link:hover.nav_link::after {
    width: 80%;
  }
  header .toggle:checked ~ .navbar {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .hero {
    margin-top: 10em;
    width: 38em;
    padding: 2em;
  }
  .hero_title {
    font-size: 4.3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(100% - 25em);
  }
  header .navbar .nav_link {
    margin-left: 2em;
  }
  .hero {
    margin-top: 12em;
    width: 48em;
  }
  .hero_title {
    font-size: 5.4rem;
  }
}
/*# sourceMappingURL=main.css.map */