*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  --fb: 'Alata', 'poppins', sans-serif;
  --fs: 'Josefin Sans', 'poppins', sans-serif;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--fb);
  width: 100%;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.img_des {
  display: none;
}

.container {
  padding: 3em 1.5em;
}

.main_hero {
  min-height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/mobile/image-hero.jpg') no-repeat center;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}

header {
  position: relative;

  & .logo {
    z-index: 999;
    cursor: pointer;
  }

  & .navbar {
    position: fixed;
    width: 100%;
    padding: 3em 1.5em;
    background: var(--Black);
    top: 0;
    left: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    clip-path: circle(0px at 90% 65px);
    transition: clip-path ease-in-out 0.6s;

    & .nav_link {
      font-family: var(--fs);
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 0.6em;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--White);
      cursor: pointer;
    }
  }
}


.toggle:checked ~ .navbar {
  clip-path: circle(100%);
}

.hero {
  margin-top: 12em;
  padding: 1.5em;
  color: var(--White);
  border: 2px solid var(--White);
}


.dec {
  margin-top: 5em;

  &_body {
    margin: 3em 0;
  }
}


.creation {
  & .creat_card {
    margin-bottom: 3em;
    
    &.flex {
      flex-direction: column;
    }

    & .card_box {
      width: 100%;
      height: 10em;
      margin-bottom: 1.5em;
      padding: 1.5em;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &:last-child {
        margin-bottom: 0;
      }

      &::after {
        content: '';
        width: 100%;
        height: inherit;
        position: absolute;
        background: rgba(140, 140, 140, 0.575);
        top: 0;
        left: -200%;
      }

      &:hover.card_box::after{
        left: 0;
      }

      &:hover {
       .card_text {
         color: var(--Black);
       }
      }
    }
  }
}


.card_img {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-deep-earth.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(2) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-night-arcade.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(3) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-soccer-team.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(4) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-grid.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(5) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-from-above.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(6) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-pocket-borealis.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(7) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-curiosity.jpg') no-repeat center;
  background-size: cover;
}

.card_img:nth-child(8) {
  background: linear-gradient(left,rgba(0,0,0,0.6), rgba(238, 238, 238, 0)), url('../images/mobile/image-fisheye.jpg') no-repeat center;
  background-size: cover;
}