@media (min-width: 600px) {
  .main_hero {
    min-height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/desktop/image-hero.jpg') no-repeat;
    background-size: cover;
  }

  .container {
    max-width: calc(100% - 10em);
    margin: auto;
  }

  .hamburger {
    display: none;
  }

  header {
    & .navbar {
      position: static;
      width: inherit;
      height: inherit;
      background: inherit;
      padding: 0;

      flex-direction: row;
      clip-path: none;

      & .nav_link {
        margin-bottom: 0;
        margin-left: 1.2em;
        font-size: 1rem;
        font-weight: 400;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 0;
          height: 3px;
          margin: auto;
          background: var(--White);
          left: 0;
          right: 0;
          bottom: -8px;
          border-radius: 5px;
          transition: width ease-in-out 500ms;
        }

        &:hover.nav_link::after {
          width: 80%;
        }
      }
    }

    & .toggle:checked ~ .navbar {
      clip-path: none;
    }
  }

  .hero {
    margin-top: 10em;
    width: 38em;
    padding: 2em;

    &_title {
      font-size: 4.3rem;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(100% - 25em);
  }

  header {
    & .navbar {
      & .nav_link {
        margin-left: 2em;
      }
    }
  }

  .hero {
    margin-top: 12em;
    width: 48em;
    &_title {
      font-size: 6.4rem;
    }
  }
}
